---
layout: default
---

<article class="content-panel" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="post-header">
    <a href="{{ '/' | relative_url }}" class="back-link">Back to archive</a>

    <p class="section-kicker">Post transmission</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <div class="post-meta-row">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="post-item-date">
        {{ page.date | date: "%d %b %Y" }}
      </time>

      {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        &#9998; <span itemprop="name">{{ page.author }}</span>
      </span>
      {%- elsif site.author -%}
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        &#9998; <span itemprop="name">{{ site.author }}</span>
      </span>
      {%- endif -%}

      {%- if page.tags.size > 0 -%}
      <div class="tag-list" aria-label="Tags">
        {%- for tag in page.tags -%}
        <span class="rs-tag">{{ tag }}</span>
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div>
  </header>

  <div class="post-body" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-pagination">
      {%- if page.previous.url -%}
      <a href="{{ page.previous.url | relative_url }}" class="retro-button">
        &#9664; {{ page.previous.title | truncate: 40 }}
      </a>
      {%- endif -%}

      {%- if page.next.url -%}
      <a href="{{ page.next.url | relative_url }}" class="retro-button">
        {{ page.next.title | truncate: 40 }} &#9654;
      </a>
      {%- endif -%}
  </footer>
</article>
